body{
    background-color: beige;
}

div{
    background-color: red;
    padding: 30px;
    height: 200px;
    width: 300px;
    border: 10px solid black;
    border-radius: 20px;
    margin: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    text-align: left;
}

h2{
    text-align: center;
    text-decoration:underline;
    font-family:serif
}

label{
    display: inline-block;
    width: 100px;
    text-align: center;
    margin: 5px;
}
#button{
    display: inline-block;
    text-align: center;
    width: 280px;
    margin: 10px;
}
