/** About, Joona Tuohimaa - TIK22SP */

/** Taustan säädöt */
body{
    background-color: green;
    color: black;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Quicksand';
    font-size: 22px;
}
.nav-link{
    color: white;
}

